@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.topbanner {
            text-align: center;
            padding: 0px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
.topbanner > cycle-slideshow{
            width: 100%;
            min-width: 633px;
            height: 100%;
}
.cycle-slideshow{
    height: 100%;
}
        .navigation{
            background-color: rgb(111, 27, 80);
            align-content: center;
            vertical-align: center;
            width: 50%;
            min-width: 633px;
            padding: 1px;
            margin-left: auto;
            margin-right: auto;  
            position: -webkit-sticky; /* Safari */
            position: sticky;
            filter: drop-shadow(0px 5px 0px rgb(30, 16, 40));
            top: 0;
            z-index: 1;
        }
        .navigation > ul > li {
            display: inline-block;
            list-style-type: none;
            width: 30%;
        }
        .navigation > ul{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            padding: 0px 0px;
        }
        .navigation > ul > li > a > img:hover{
            filter: brightness(130%) drop-shadow(5px 5px 0px black);
        }
        main{
            background-color: rgb(163, 57, 123);
            vertical-align: center;
            width: 50%;
            min-width: 633px;
            padding: 1px;
            margin-left: auto;
            margin-right: auto;
        }
        main > div{
            background-color: rgb(191, 107, 159);
            vertical-align: center;
            width: 90%;
            padding: 1px;
            margin: 20px auto 20px auto;
            filter: drop-shadow(5px 5px 5px rgb(100, 32, 74));
            z-index: 0;
        }
        main > div > h1{
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 30px;
            padding-right: 30px;
            border-spacing: 0px;
            line-height: 5px;
            margin-top: 33px;
        }
        main > div > h3{
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 30px;
            padding-right: 30px;
            line-height: 5px;
        }
        main > div > p, main > div > a{
            color: white;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 0px;
        }
        main > div > aside{
            display: flex;
            align-content: center;
            list-style-type: none;
            margin: 0px auto 10px auto;
            width: 100%;
        }
        main > div > aside > a > img{
            display: flex;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        main > div > aside > a > img:hover{
            filter: drop-shadow(5px 5px 5px rgb(112, 58, 91));
        }
        main > div > aside > img{
            width: 80%;
            margin: auto;
            padding-bottom: 25px;
            display: inline;
        }
        .socialslogo{
            width: 10%;
            padding-bottom: 25px;
            display: inline;
            filter: drop-shadow(5px 5px 5px rgb(112, 58, 91))            
        }
        .socialslogo:hover{
            width: 10%;
            padding-bottom: 25px;
            display: inline;
            filter: drop-shadow(5px 5px 5px rgb(112, 58, 91)) contrast(1.5)
        }
        .kudoslogo{
            width: 30%;
            padding-left: 30px;
        }
        .comicrow{
            width: 100%;
        }
        .comicselector{
            display: inline;
            width: 100%;
            padding: 20px;
        }
        .comicselector:hover{
            filter: drop-shadow(7px 7px 5px rgb(112, 58, 91))
        }
        .comicselector > a{
            text-decoration: none;
        }
        .caption{
            color: rgb(0, 0, 0);
            background-color: white;
            padding: 2px;
        }
        .caption > h3{
            padding-left: 8px;
            padding-right: 8px;
            line-height: 2px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.2vw;
            
        }
        .caption > p{
            padding-left: 8px;
            padding-right: 8px;
            padding-bottom: 8px;
            line-height: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1vw;
        }
        .comicselector > a > img{
            width: 100%;
        }
        .comic{
            width: 100%;
            margin: auto;
            padding-top: 2.5%;
        }
        .comic > img{
            width: 96%;
        }
        .runny{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }